<nav class="header">
  <div class="logo">
    <div class="hamburger-icon">
      <%= image_tag("hamburger.png", alt: "Menu", class: "ham") %>
    </div>
  <div class="categories">
    <p> EDIT CATEGORY</p>
  </div>
  <div class="back-link">
    <%= link_to "Back", root_path, class: "back" %>
  </div> 
  </div>

</nav>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Show this category", @category %>
  <%= link_to "Back to categories", categories_path %>
</div>
